*{
    box-sizing: border-box;
    border: 0;
    border-radius: 0;
}
#header-nav{
    background-color: rgb(172, 172, 172);
    border-radius: 0;
    border: 0;
    margin-top: -27px;
    width: 100%;
}
h1{
    font-size: xx-large;
    padding-top: 20px;
    padding-bottom: 25px;
    text-align: left;
    font-family: sans-serif;
    color: black;
    width: 190px;
}
.navbar-brand a{
    text-decoration: none;
}
button{
    float: right;
    margin-top: -75px;
}
.text-center{
    text-transform: uppercase;
    font-size: xx-large;
    text-align: center;
    text-decoration: solid;
}
.col-xs-12{
    height: 1000px;
    width: 700px;
    text-align: justify;
    background-color: rgb(172, 172, 172);
}
